@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+19,e1e1e1+19,e1e1e1+47,f1f1f1+53,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 19%, rgba(225,225,225,1) 19%, rgba(225,225,225,1) 47%, rgba(241,241,241,1) 53%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(19%,rgba(225,225,225,1)), color-stop(19%,rgba(225,225,225,1)), color-stop(47%,rgba(225,225,225,1)), color-stop(53%,rgba(241,241,241,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 47%,rgba(241,241,241,1) 53%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 47%,rgba(241,241,241,1) 53%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 47%,rgba(241,241,241,1) 53%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 19%,rgba(225,225,225,1) 47%,rgba(241,241,241,1) 53%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */

}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}

.jumbotron {
   background-color: rgba(245, 245, 245, 0.4);
}


.row {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;


    margin-top: 50px;
   
}

.button {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  }

h1 {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;

    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
      font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;

    margin-top: 5px;
    margin-bottom: 5px;
}

#profile {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5em;
}

.top-bar-section {
  color: blue;
}

#content3 {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

.hacked-footer {
  position: absolute;
  bottom: 0;
}

.hometitle {
  font-size: 20px;
  margin-bottom: 20px;
}


.row1{
  margin-top: 30px;
  font-size: 20px;
}

.row2{
  margin-top: 2px;
}

.section {
  font-size: 20px;  
}

#hometitle {
  font-size: 40px;
}

.btn {
  margin-top: 20px;
}

.input-mysize { width: 300px }

footer {
  background: #2E2E2E;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;

}

#bottom {
  background: #31363A;
  padding-top: 120px;
  padding-bottom: 120px;
}

#content4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;  
}

#content5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.thumbnail img:hover {
  transform: scale(1.1);
}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}
.thumbnail {
  overflow: hidden;
}

.bg-grey {
  background-color: #f9f9f9;
}

.navbar-default {
    background-color: #DCDCDC;
    border-color: #E7E7E7;
}