@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body {
  background-image: url("bgimage13");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #cccccc;
    padding-top: 70px;
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}

.jumbotron {
   background-color: rgba(245, 245, 245, 0.4);
}


.row {
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714302062988px;


    margin-top: 50px;
   
}

.button {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  }

h1 {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;

    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
      font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;

    margin-top: 5px;
    margin-bottom: 5px;
}

#profile {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5em;
}

.top-bar-section {
  color: blue;
}

#content3 {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 15px;
}

.hometitle {
  font-size: 20px;
  margin-bottom: 20px;
}


.row1{
  margin-top: 30px;
  font-size: 20px;
}

.row2{
  margin-top: 2px;
}

.section {
  font-size: 20px;  
}

#hometitle {
  font-size: 40px;
}

.btn {
  margin-top: 20px;
}

.input-mysize { width: 300px }

#footer {
  background: #2E2E2E;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 75px;
}

#bottom {
  background: #31363A;
  padding-top: 120px;
  padding-bottom: 120px;
}

#content4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;  
}

#content5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.thumbnail img:hover {
  transform: scale(1.1);
}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}
.thumbnail {
  overflow: hidden;
}

.bg-grey {
  background-color: #f9f9f9;
}