<div class="row">
  <div class="medium-12 medium-centered columns">
    <h1> Name: <%= @shoes.name %> </h1>
    <h3> Price: $<%= @shoes.price %> </h3>
    <h3> Color: <%= @shoes.color %> </h3>
    <h3> Brand: <%= @shoes.brand %> </h3>
  </div>
</div>



